.advantages {
  width: 320px;

  background-color: @white--dark;
}

.advantages__text {
  font-size: 24px;
  font-weight: 300;
  line-height: auto;
}

.advantages__list {
  .reset-list();
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  color: @black;
}
