.button {
  display: block;
  width: 280px;
  min-height: 55px; // margin: 0;
  font-family: @default-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: @white;

  background-color: transparent;
  border: 3px solid;
  border-radius: 50px 50px;

  cursor: pointer;
}

.button--white {
  width: 274px;
  min-height: 0;
  margin-top: 2px;
  padding: 16px 0;

  border-color: @white;

  &:hover {
    color: @pink;

    background-color: @white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);

    background-color: @white;
  }
}

.button--pink {
  color: @pink;

  border-color: @pink;
}

.button--gray {
  color: @blue-dark--opacity;

  border-color: @blue-dark--opacity;
}

.button--form {
  min-height: 63px;

  line-height: 30px;
  text-transform: uppercase;

  background-color: @green;
  border: none;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .button--white {
    width: 293px;
  }

  .button--form {
    width: 299px;
  }

  .button--photo {
    width: 260px;
  }
}

@media (min-width: @desktop-width) {
  .button--white {
    font-size: 21px;
  }

  .button--photo {
    width: 185px;
    min-height: 50px;
  }
}
