.contacts__intro {
  margin: 0;
}

.contacts__list {
  .reset-list();
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
}

.contacts__text {
  font-style: normal;
  text-decoration: none;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 620px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__item {
    flex-shrink: 0;
    width: 300px;
  }

  .contacts__item--address {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 940px;
  }

  .contacts__item--email {
    order: 2;
  }
}
