.copyright {}

.copyright__text {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #283645;
}

.copyright__link {
  position: relative;
}

.copyright__link::before {
  content: url("../../img/logo-htmlacademy.svg");

  position: absolute;
}
