.download {
  width: 320px;
  min-height: 735px;

  font-weight: 300;
  color: @white;

  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.download__slogan {
  display: none;
  margin: 0;

  font-size: 40px;
}

.download__list {
  .reset-list();

  display: flex;
  justify-content: center;
  align-items: center;
}

.download__link::before {
  content: "";

  display: block;

  background-repeat: no-repeat;
}


.download__link--apple::before {
  width: 47px;
  height: 56px;

  background-image: url("../img/logo-apple.svg");
}

.download__link--android::before {
  width: 43px;
  height: 47px;

  background-image: url("../img/logo-android.svg");
}

.download__link--microsoft-phone::before {
  width: 44px;
  height: 41px;

  background-image: url("../img/logo-microsoft.svg");
}

.download__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .download {
    display: flex;
    width: 620px;
  }

  .download__image {
    order: 2;
  }

  .download__box {
    display: flex;
    flex-direction: column;
  }

  .download__slogan {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .download {
    width: 940px;
  }
}
