.download {
  width: 320px;
  min-height: 735px;

  color: #ffffff;

  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
