.form-contest {
  width: 320px;
}

.form-contest__intro {
  width: 280px;
  margin: 0 auto;

  line-height: 30px;
}

.form-contest__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-contest__legend-star {
  color: @pink;
}
