.form__block {
  margin: 0;
  padding: 0;
  .wrapper();

  text-align: left;

  border: none;
}

.form__container {
  padding: 35px 0;
}

.form__container--fio {
  padding-bottom: 41px;
}

.form__container--progress {
  padding-bottom: 47px;

  background-color: @white--dark;
}

.form__container--contacts {
  padding-top: 33px;
  padding-bottom: 41px;
}

.form__container--os {
  padding-bottom: 48px;

  background-color: @white--dark;
}

.form__container--emotions {
  padding-bottom: 41px;
}

.form__block-title {
  width: 230px;
  margin: 0 auto;
  padding-top: 2px;
  margin-bottom: 46px;

  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @pink;
}

.form__block-title--hidden {
  display: none;
}

.form__block--os .form__block-title {
  margin-bottom: 41px;
}

.form__block--emotions .form__block-title {
  margin-bottom: 17px;
}

.form__list {
  .reset-list();
}

.form__item {
  margin-bottom: 17px;
}

.form__block--os .form__item {
  margin-bottom: 45px;
}

.form__block--emotions .form__item {
  margin-top: 0;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__item--field {
  position: relative;

  margin-bottom: 52px;
  padding-left: 69px;
}

.form__title-item {
  padding-left: 23px;

  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
}

.form__text {
  width: 280px;
  min-height: 63px;
  margin-top: 6px;
  padding-left: 20px;
  box-sizing: border-box;

  border: 2px solid #e5e5e5;
}

.form__block--emotions .form__text {
  min-height: 201px;
  margin-top: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 18px;
}

.form__text::placeholder {
  font-family: @default-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @blue-dark;
}

.form__field {
  font-size: 18px;
  line-height: 30px;
}

.form__input--checkbox + .form__field::before {
  content: "";

  position: absolute;
  top: -5px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: @white;
  border: 2px solid #e5e5e5;

  cursor: pointer;
}

.form__input--checkbox:checked + .form__field::after {
  content: "";

  position: absolute;
  top: 0;
  left: 15px;

  width: 8px;
  height: 20px;

  background-color: @white;
  border-bottom: 2px solid @pink;
  border-right: 2px solid @pink;

  transform: rotate(45deg);

  cursor: pointer;
}

.form__input--radio + .form__field::before {
  content: "";

  position: absolute;
  top: -5px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: @white;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

  cursor: pointer;
}

.form__input--radio:checked + .form__field::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-color: @pink;
  border-radius: 50%;

  cursor: pointer;
}

.form__footer {
  margin: 0;
  .wrapper();
}

.form__button {
  margin-bottom: 36px;
}

.form__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__legend-star {
  color: @pink;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 45px;
  }

  .form__text {
    flex-grow: 1;
  }

  .form__title-item {
    margin-right: 15px;
  }

  .form__block--progress {
    order: 4;
  }

  .form__block--contacts {
    order: 3;
  }

  .form__block--os {
    order: 2;
  }

  .form__block--emotions {
    order: 5;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    order: 6;
  }

  .form__block--contacts .form__item {
    flex-wrap: wrap;
  }

  .form__item--wrapper {
    width: 500px;
    margin: 0 auto;
  }

  .form__block--contacts .form__title-item {
    flex-shrink: 0;
    width: 150px;
    order: 2;
  }

  .form__block--contacts .form__text {
    flex-shrink: 0;
    width: 500px;
  }

  .form__block {
    border: 2px solid #e5e5e5;
    margin-bottom: 50px;
    padding: 50px 0;
  }

  .form__block--fio {
    order: 1;

    border: none;
  }

  .form__block-title {
    text-align: center;
  }

  .form__block-title--hidden {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__block {
    width: 100%;
  }

  .form__block--fio {
    width: 470px;
    padding: 0;
  }

  .form__block--os {
    width: 435px;
  }

  .form__block--os .form__item--wrapper {
    width: 435px;
  }

  .form__item--wrapper {
    width: auto;
  }

  .form__list__wrapper {
    width: 820px;
    margin: 0 auto;
  }

  .form__list--contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__list--contacts .form__item {
    flex-shrink: 0;
    width: 375px;
    margin: 0;
  }

  .form__block--contacts .form__text {
    width: 100%;
  }

  .form__list--progress {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    height: 150px;
  }

  .form__list--progress .form__item {
    min-height: 50px;
    margin: 0;
    margin-bottom: 15px;
    flex-shrink: 0;
  }
}
