.form-contest {
  width: 100%;
  margin-bottom: 55px;
}

.form-contest__wrapper {
  .wrapper();
}

.form-contest__intro {
  width: 280px;
  margin: 0;

  line-height: 30px;
}

.form-contest__intro--bottom {
  display: none;
}

@media (min-width: @tablet-width) {
  .form-contest {
    margin-bottom: 86px;
  }

  .form-contest__wrapper {
    padding-top: 95px;
  }

  .form-contest__intro {
    width: 500px;
    margin: 0 auto; // margin-bottom: 75px;
    font-size: 18px;
  }

  .form-contest__intro--bottom {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .form-contest {
    margin-bottom: 28px;
  }

  .form-contest__wrapper {
    margin-bottom: 29px;
  }

  .form-contest__intro {
    width: 800px;
  }

  .form-contest__intro--bottom {
    display: inline;
  }
}
