.inner-footer__wrapper {
  .wrapper();
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 43px;
}

.inner-footer__logo-link {
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .inner-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .inner-footer__logo-link {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .inner-footer__wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
}
