.inner-footer {
  padding-bottom: 40px;
}

.inner-footer__wrapper {
  .wrapper();
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-footer__logo-link {
  width: 147px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inner-footer__logo-image {
  width: 147px;
  height: 40px;

  fill: @blue-dark;
}

.inner-footer__logo-link[href]:hover .inner-footer__logo-image {
  fill: @pink;
}

.inner-footer__logo-link[href]:active .inner-footer__logo-image {
  fill: @blue-dark;
  opacity: 0.3;
}

.inner-footer__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .inner-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .inner-footer__logo-link {
    display: flex;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .inner-footer {
    padding-bottom: 70px;
  }

  .inner-footer__wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }

  .inner-footer__logo-link {
    width: 157px;
  }

  .inner-footer__logo-mobile-glasses {
    display: none;
  }

  .inner-footer__logo-desktop {
    display: inline-block;
  }
}
