.modal {
  position: fixed;
  z-index: 100;

  display: none;
  width: 100%;

  background-color: @white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  /* Временно */
  outline: 2px solid red;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.modal__wrapper {
  .wrapper();
  padding-top: 39px;
  padding-bottom: 31px;
}

.modal--failure .modal__wrapper {
  padding-bottom: 49px;
}

.modal__button-container {
  background-color: @white--dark;
}

.modal__button-wrapper {
  margin: 0;
  .wrapper();
  padding-top: 48px;
  padding-bottom: 50px;
}

.modal__intro {
  display: block;
  margin-bottom: 25px;

  font-size: 18px;
  font-weight: 700;
  color: @black;
}

.modal__text {
  margin: 0;
}

.modal--failure .modal__text {
  padding-bottom: 39px;
}

.modal__text-br {
  display: block;
}

@media (min-width: @tablet-width) {
  .modal {
    width: 460px;
  }

  .modal__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .modal__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
  }
}

@media (min-width: @desktop-width) {
  .modal {
    width: 780px;
  }

  .modal__button-wrapper {
    width: 780px;
    min-height: 165px;

    background-color: @white--dark;
  }
}
