.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;

  color: @white;

  background-color: @blue-dark;
}

.page-header__logo-link {
  align-self: flex-start;
  height: 22px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
  }
}
