.page-footer {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.page-footer__wrapper {
  padding-top: 42px;
}

.page-footer__inner-footer {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding-top: 45px;
    padding-bottom: 39px;
  }

  .page-footer__contacts {
    margin-bottom: 36px;
  }

  .page-footer__inner-footer {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding-top: 63px;
    padding-bottom: 71px;
  }

  .page-footer__contacts {
    margin-bottom: 70px;
  }
}
