.site-list {

}

.site-list__item {
  text-align: center;

  border-top: 1px solid #000000;
  border-bottom: 1px solid #485461;
}

.site-list__link {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;

  text-decoration: none;
  color: #ffffff;
}
