.site-list__item {
  border-top: 1px solid @black;
  border-bottom: 1px solid #485461;
}

.site-list__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
}
