.study {
  display: none;
  width: 320px;

  text-align: left;
}

.study__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: @black;
}

.study__link {
  font-family: @default-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .study {
    display: block;
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .study {
    width: 940px;
  }
}
