.study {
  background-color: @white;
}

.study__wrapper {
  position: relative;

  display: none;
  .wrapper();
  min-height: 350px;
  padding-top: 103px;

  text-align: left;
}

.study__wrapper::before {
  content: "";

  position: absolute;
  top: 67px;
  left: 22px;
  width: 238px;
  height: 276px;

  background-image: url("../img/icon-timer.svg");
  background-size: 238px 276px;
  background-repeat: no-repeat;
}

.study__wrapper::after {
  content: "24";

  position: absolute;
  top: 123px;
  left: 41px;
  width: 174px;
  height: 167px;

  padding-top: 7px;

  font-family: @default-font;
  font-size: 96px;
  font-weight: 700;
  line-height: 150px;
  text-align: center;
  color: @pink;

  border: 13px solid @pink;
  border-radius: 50%;
}

.study__box {
  width: 300px;
  margin-left: 310px;
}

.study__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: @black;
}

.study__title-br {
  display: block;
}

.study__text {
  margin: 0;
  margin-bottom: 11px;
}

.study__text-br {
  display: block;
}

.study__link {
  font-family: @default-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .study__wrapper {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .study__wrapper {
    margin-bottom: 150px;
  }

  .study__wrapper::before {
    top: 33px;
    left: 9px;
    width: 298px;
    height: 345px;

    background-image: url("../img/icon-timer.svg");
    background-size: 298px 345px;
  }

  .study__wrapper::after {
    top: 100px;
    left: 32px;
    width: 221px;
    height: 210px;

    padding-top: 11px;

    font-size: 120px;
    line-height: 187px;

    border-width: 16px;
  }

  .study__box {
    width: 560px;
    margin-left: 365px;
    padding-top: 125px;
  }

  .study__title {
    margin-bottom: 26px;

    line-height: 30px;
  }

  .study__title-br {
    display: inline;
  }

  .study__text {
    margin-bottom: 31px;

    font-size: 18px;
    line-height: 30px;
  }

  .study__text-br-desktop {
    display: block;
  }

  .study__text-br {
    display: inline;
  }

  .study__link {
    font-size: 18px;
    line-height: 30px;
  }
}
