.upload-photo {
  position: relative;

  background-color: @white--dark;
}

.upload-photo::after {
  content: "";

  position: absolute;
  bottom: 199px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #dddfe0;
}

.upload-photo__wrapper {
  .wrapper();
  padding-bottom: 40px;
  margin-bottom: 42px;
}

.upload-photo__image {
  padding-top: 20px;
  padding-bottom: 33px;
}

.upload-photo__list {
  position: relative;

  .reset-list();
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 80px;
}

.upload-photo__item--crop {
  margin-left: 34px;
  margin-right: 32px;
}

.upload-photo__item--fill {
  margin-right: 32px;
}

.upload-photo__instrument {
  // position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin-bottom: 30px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.upload-photo__instrument--contrast {
  // width: 32px;
  // height: 32px;
}

.upload-photo__item--active .upload-photo__instrument-icon {
  fill: @pink;
}

.upload-photo__instrument-icon {
  fill: rgba(@blue-dark, 0.3);
}

.upload-photo__instrument-icon:hover {
  fill: rgba(@blue-dark, 0.5);
}

.upload-photo__range {
  display: none;
  width: 240px;
}

.upload-photo__range-controls {
  position: relative;
}

.upload-photo__range-scale {
  height: 2px;

  background-color: @blue-dark;
}

.upload-photo__range-toggle {
  position: absolute;
  top: -6px;
  left: 80%;

  width: 10px;
  height: 10px;

  background-color: @white--dark;
  border: 2px solid @pink;
  border-radius: 50%;

  cursor: pointer;

  &:active {
    background-color: @pink;
  }
}

.upload-photo__item--active .upload-photo__range {
  position: absolute;
  bottom: -8px;
  left: 18px;

  display: block;
}

.upload-photo__post {
  margin-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .upload-photo__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    padding: 55px 20px;
    padding-bottom: 47px;
  }

  .upload-photo::after {
    display: none;
  }

  .upload-photo__image {
    padding-top: 3px;
    padding-bottom: 0;
  }

  .upload-photo__range {
    display: block;
    width: 202px;
  }

  .upload-photo__item--active .upload-photo__range {
    position: static;
  }

  .upload-photo__list {
    flex-direction: column;
    width: 300px;
    margin-bottom: 67px;
  }

  .upload-photo__item {

    width: 275px;
    margin-right: 0;
    margin-left: auto;
    box-sizing: border-box;

    border-bottom: 1px solid #dddfe0;
  }

  .upload-photo__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
  }

  .upload-photo__item--crop {
    padding-top: 11px;
    padding-bottom: 24px;
  }

  .upload-photo__item--fill {
    padding-top: 27px;
    padding-bottom: 24px;
  }

  .upload-photo__item--contrast {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .upload-photo__instrument {
    height: 22px;

    margin-bottom: 0;
    padding: 0;
  }

  .upload-photo__instrument--crop {
    width: 24px;
  }

  .upload-photo__instrument--fill {
    width: 30px;
  }

  .upload-photo__instrument--contrast {
    width: 31px;
  }

  .upload-photo__instrument-icon {
    fill: @pink;
  }

  .upload-photo__instrument-icon--crop {
    width: 22px;
    height: 22px;
  }

  .upload-photo__instrument-icon--fill {
    width: 24px;
    height: 22px;
  }

  .upload-photo__instrument-icon--contrast {
    width: 16px;
    height: 16px;
  }

  .upload-photo__item--crop .upload-photo__range-toggle {
    left: 73%;
  }

  .upload-photo__item--fill .upload-photo__range-toggle {
    left: 13%;
  }

  .upload-photo__item--contrast .upload-photo__range-toggle {
    left: 48%;
  }

  .upload-photo__post {
    margin-left: 25px;
    margin-bottom: 24px;
  }

  .upload-photo__cancel {
    margin-left: 25px;
  }
}

@media (min-width: @desktop-width) {
  .upload-photo__wrapper {
    margin-bottom: 97px;
    padding: 54px 10px;
    padding-bottom: 51px;
  }

  .upload-photo__picture {
    margin-left: 80px;
  }

  .upload-photo__form {
    width: 410px;
    margin-right: 60px;
  }

  .upload-photo__list {
    width: 410px;
    margin-bottom: 147px;
  }

  .upload-photo__item-wrapper {
    width: 379px;
    margin: 0;
  }

  .upload-photo__item {
    width: 100%;
    margin: 0;
  }

  .upload-photo__item--crop {
    padding-top: 1px;
    padding-bottom: 13px;
  }

  .upload-photo__item--fill {
    padding-top: 14px;
    padding-bottom: 10px;
  }

  .upload-photo__item--contrast {
    padding-top: 18px;
    padding-bottom: 19px;
  }

  .upload-photo__instrument--crop {
    width: 44px;
    height: 44px;
  }

  .upload-photo__instrument--fill {
    width: 48px;
    height: 48px;
  }

  .upload-photo__instrument--contrast {
    width: 32px;
    height: 32px;
    margin-left: 5px;
  }

  .upload-photo__instrument-icon--crop {
    top: -22px;
    left: -1px;

    width: 44px;
    height: 44px;
  }

  .upload-photo__instrument-icon--fill {
    top: -19px;
    left: 0;

    width: 48px;
    height: 48px;
  }

  .upload-photo__instrument-icon--contrast {
    width: 32px;
    height: 32px;
  }

  .upload-photo__range {
    width: 288px;
  }

  .upload-photo__item--crop .upload-photo__range-toggle {
    left: 25%;
  }

  .upload-photo__item--fill .upload-photo__range-toggle {
    left: 86%;
  }

  .upload-photo__item--contrast .upload-photo__range-toggle {
    left: 56%;
  }

  .upload-photo__buttons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .upload-photo__post {
    margin: 0;
  }
}
