.user-block--panorama {
  position: relative;
}

.user-block--panorama::before {
  content: "Панорама дня";

  position: absolute;
  right: 20px;

  display: block;
  width: 140px;
  height: 36px;

  font-family: @default-font;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  background-color: @pink;
}

.user-block__comment {
  width: 280px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-left: 15px;

  text-align: left;

  background-color: @white--dark;
}

.user-block__picture {
  margin: 0;
}

.user-block--panorama .user-block__image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.user-block__name {
  font-style: normal;
  font-weight: 700;
}

.user-block__date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-block__text {
  margin: 0;
}

.user-block__like {
  position: relative;

  border: none;
}

.user-block__like::before {
  content: url("../img/icon-heart.svg");

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-block__inscription {
  font-size: 12px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .user-block--panorama {
    margin-right: 0;
  }

  .user-block--panorama .user-block__comment {
    position: relative;

    width: 620px;
    padding-left: 20px;
  }

  .user-block--panorama .user-block__bottom {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .user-block--panorama .user-block__comment {
    width: 940px;
  }
}
