.user-block--panorama {
  position: relative;

  margin-bottom: 21px;
}

.user-block--panorama::before {
  content: "Панорама дня";

  position: absolute;
  right: 0;

  display: block;
  width: 140px;
  height: 31px;
  padding-top: 5px;

  font-family: @default-font;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  background-color: @pink;

  z-index: 3;
}

.user-block--last {
  margin-bottom: 0;
}

.user-block__comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  margin: 0;
  padding: 17px;
  padding-top: 16px;
  padding-left: 17px;
  padding-bottom: 21px;
  box-sizing: border-box;

  text-align: left;

  background-color: @white--dark;
}

.user-block--panorama .user-block__comment {
  padding: 17px;
  box-sizing: border-box;
}

.user-block__picture {
  margin: 0;
}

.user-block__image {
  display: block;
}

.user-block__comment-head {
  margin: 0;
}

.user-block__image--first {
  display: block;
  width: 100vw;
  position: relative;
  top: 0;
  left: calc(-50vw + 50%);
}

.user-block__name {
  font-style: normal;
  font-weight: 700;
}

.user-block__date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-block__comment-text {
  margin: 0;
  margin-bottom: 9px;
}

.user-block__comment-footer {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 3px;

  cursor: pointer;
}

.user-block__button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 12px;
  margin-right: 19px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.user-block__inscription {
  font-size: 12px;
  text-transform: uppercase;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .user-block__image--first {
    height: 509px;
    object-fit: cover;
    font-family: "object-fit: cover", "Arial", sans-serif;
  }

  .user-block--panorama {
    margin-right: 0;
  }

  .user-block--panorama::before {
    top: 56px;
  }

  .user-block__comment {
    width: 300px;
    padding: 0 27px;
    padding-top: 23px;
    padding-right: 32px;
  }

  .user-block--body .user-block__comment {
    min-height: 150px;
  }

  .user-block--panorama .user-block__comment {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    padding: 0 27px;
    padding-top: 23px;
    padding-right: 29px;
    margin-bottom: 51px;
  }

  .user-block--body .user-block__comment-text {
    min-height: 47px;
    margin-bottom: 13px;
  }

  .user-block__comment-text--panorama {
    flex-shrink: 0;
    order: 1;
    width: 520px;
    margin-bottom: 24px;
  }

  .user-block__comment-footer {
    justify-content: space-between;
    margin: 0;
  }

  .user-block__comment-footer--panorama {
    width: 120px;
  }

  .user-block__button {
    order: 2;
    margin-right: 0;
    padding: 0;
  }

  .user-block__inscription {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .user-block__image--first {
    height: 506px;

    width: auto;

    left: 50%;
    transform: translateX(-50%);
  }

  .user-block--panorama::before {
    top: 54px;
  }

  .user-block--panorama .user-block__comment {
    width: 940px;
    margin-bottom: 50px;
    padding: 0 27px;
    padding-top: 22px;
    padding-right: 32px;
  }

  .user-block__comment-text--panorama {
    width: 885px;
  }

  .user-block--body .user-block__comment {
    min-height: 155px;
  }
}
