.user-block {
  margin-bottom: 18px;
}

.user-block--panorama {
  position: relative;

  margin-bottom: 21px;
}

.user-block--panorama::before {
  content: "Панорама дня";

  position: absolute;
  right: 0;

  display: block;
  width: 140px;
  height: 31px;
  padding-top: 5px;

  font-family: @default-font;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  background-color: @pink;

  z-index: 3;
}

.user-block__comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  margin: 0;
  padding: 17px;
  padding-top: 16px;
  padding-left: 17px;
  padding-bottom: 21px;
  box-sizing: border-box;

  text-align: left;

  background-color: @white--dark;

  outline: 1px solid red;
}

.user-block--panorama .user-block__comment {
  padding: 17px;
  box-sizing: border-box;
}

.user-block__picture {
  margin: 0;
}

.user-block__image {
  display: block;
}

.user-block__comment-head {
  margin: 0;
}

.user-block__comment-footer {
  margin: 0;
  margin-bottom: 3px;
}

.user-block--panorama .user-block__image {
  display: block;
  width: 100vw;
  height: auto;
  position: relative;
  top: 0;
  left: calc(-50vw + 50%);
}

.user-block__name {
  font-style: normal;
  font-weight: 700;
}

.user-block__date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-block__comment-text {
  margin: 0;
  margin-bottom: 9px;
}

.user-block__button {
  position: relative;

  background-color: transparent;
  border: none;
}

.user-block__button::before {
  content: url("../img/icon-heart.svg");

  position: absolute;
  left: 1px;
  top: -10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-block__inscription {
  margin-left: 16px;

  font-size: 12px;
  text-transform: uppercase;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .user-block--panorama {
    margin-right: 0;
  }

  .user-block--panorama .user-block__comment {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    padding: 0 25px;
    padding-top: 20px;
  }

  .user-block__comment-text--panorama {
    flex-shrink: 0;
    order: 1;
    width: 520px;
    margin-top: 20px;
  }

  .user-block__comment {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .user-block--panorama .user-block__comment {
    width: 940px;
    padding: 0 30px;
    padding-top: 20px;
  }

  .user-block__comment-text--panorama {
    width: 885px;
  }
}
